<h3> Account Details</h3>
<div>
    <div>
        <label> <b>  Name: </b></label> {{account.name}}
    </div>
    <div>
        <label> <b> balance: </b></label> {{account.balance}}
    </div>
    <div>
        <label> <b> address: </b></label> {{account.address}}
    </div>
    <div>
        <label> <b> phone: </b></label> {{account.phone}}
    </div>
    <div>
        <label> <b> email: </b></label> {{account.email}}
    </div>
    <div>
        <label> <b> accountType: </b></label> {{account.accountType}}
    </div>
</div>

